{% extends "base.html" %}

{% block titulo_conteudo %} Listagem de Clientes {% endblock titulo_conteudo %}

{% block conteudo %} 

<div class="barrabotoes">
  <button onClick="location='{% url "form_cliente" %}'" type="button" class="btn btn-primary btn-sm">Inserir Novo</button>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>C.P.F</th>
        <th>Data Nascimento</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for item in lista %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.nome }}</td>
        <td>{{ item.cpf }}</td>
        <td>{{ item.datanascimento }}</td>
        <td>
          <button onClick="location='{% url 'novo_pedido' item.id %}'" type="button" class="btn btn-primary btn-sm">Novo Pedido</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock conteudo %}